@model IEnumerable<Facil.Aplicacao.DTOs.FuncionarioDTO>

@{
    ViewData["Title"] = "Cadastro de Funcionarios";
}

@await Html.PartialAsync("_Grid_Cabecalho")

<div class="panel panel-default">
    <table id="table-funcionarios" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profissao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Rg)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*<button class="btn btn-primary edit" data-id="@item.ID"><i class="glyphicon glyphicon-edit"></i></button>*@
                        <a asp-action="Edit" asp-route-id="@item.ID" title="Alterar" class="btn btn-warning">
                            <span class="fas fa-edit"></span>
                        </a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profissao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnderecoCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rg)
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID" title="Excluir" class="btn btn-danger">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<div id="modal" class="modal fade" role="dialog" />*@
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#table-funcionarios').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.13.3/i18n/pt-BR.json"
                }
            })

        });

        ///**/ */modal
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                alert(id);
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                alert(id);
                $("#modal").load("Edit?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                alert(id);
                $("#modal").load("Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("Create", function () {
                    $("#modal").modal();
                })
            });
        })

    </script>

}         