@using Example3.MvcWebApp.IndividualAccounts.PermissionsCode
@using AuthPermissions.BaseCode.DataLayer.Classes.SupportTypes
@using AuthPermissions.BaseCode.PermissionsCode
@model IEnumerable<ExamplesCommonCode.CommonAdmin.AuthUserDisplay>

@{
    ViewData["Title"] = "Usuários Autorizados";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h3 class="text-success">@ViewBag.Message</h3>
}

<h1>Usuários Autorizados</h1>

@if (User.HasPermission(Example3Permissions.UserSync))
{
    <a asp-action="SyncUsers" class="btn btn-primary">Sincronização com os usuários do provedor de autenticação</a>
    <p> </p>
}

<div><i>OBSERVAÇÃO: Funções extras podem ser aplicadas a um usuário que esteja vinculado a um locatário que tenha funções do tipo @nameof(RoleTypes.TenantAutoAdd) adicionado ao locatário do usuário.</i></div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                AuthRoles
            </th>
            <th>
                Tenant?
            </th>
            <th>
                @if (User.HasPermission(Example3Permissions.UserChange))
                {
                    Html.Raw(" Mudar |");
                }
                @if (User.HasPermission(Example3Permissions.UserChange))
                {
                    Html.Raw(" Excluir");
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(item.RoleNames.Any() ? string.Join(", ", item.RoleNames) : "<none>")
                </td>
                <td>
                    <a href="#" data-toggle="tooltip" title='@item.TenantName'>
                        @(item.HasTenant ? "SIM" : "")
                    </a>
                </td>
                <td>
                    @if (User.HasPermission(Example3Permissions.UserChange))
                    {
                        @Html.ActionLink("Alterar", "Edit", new { userId = item.UserId });
                    }

                    @if (User.HasPermission(Example3Permissions.UserRemove))
                    {
                        @Html.Raw(" | ");
                        @Html.ActionLink("Excluir", "Delete", new { UserId = item.UserId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{


    <script type='text/javascript'>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}