@using Example3.InvoiceCode.Services
@using Example3.MvcWebApp.IndividualAccounts.PermissionsCode
@using AuthPermissions.BaseCode.PermissionsCode
@model List<Example3.InvoiceCode.Dtos.InvoiceSummaryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_CompanyLayout";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h3 class="text-success">@ViewBag.Message</h3>
}

<h1>@AddTenantNameClaim.GetTenantNameFromUser(User) Faturas</h1>
<p>
    <i>OBSERVAÇÃO: Esse exemplo de aplicativo multilocatário faz com que cada empresa pense que o aplicativo foi criado apenas para ela.</i>
</p>

@if (User.HasPermission(Example3Permissions.InvoiceCreate))
{
    <p>
        <a class="btn btn-primary" asp-action="CreateInvoice"> Criar fatura</a>
    </p>
}
else
{
    <h4>Você pode ver a lista de faturas atuais, mas não pode criar uma nova fatura.</h4>
}

@if (Model != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>
               nome da fatura
            </th>
            <th>
                DateCreated
            </th>
            <th>
                NumItems
            </th>
            <th>
                TotalCost
            </th>
            @*<th></th>*@
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceName)
                </td>
                <td>
                    @item.DateCreated.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumItems)
                </td>
                <td>
                    @item.TotalCost?.ToString("C2")
                </td>
            </tr>
        }
        </tbody>
    </table>

    @if (User.HasPermission(Example3Permissions.InvoiceSum))
    {
        <h2>Enterprise Feature!</h2>
        @if (Model.Any())
        {
            <div>The sum of the @Model.Count invoices is <span class="h3">@Model.Sum(x => x.TotalCost)?.ToString("C2")</span></div>
        }
        else
        {
            <div>No invoices found</div>
        }
    }
    else
    {
        <div class="h4">Se você atualizar para a versão Enterprise, verá o custo total de suas faturas.</div>
    }
}
else
{
    <h4>Você pode criar uma fatura, mas não pode ver a lista de faturas atuais.</h4>
}